.content {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 87px);

  .banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #00a1de;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 45px 25px;
    @media screen and (max-width: $break-small) {
      height: 150px;
    }

    &:hover {
      .arrows {
        opacity: 1;
      }
      .bullets {
        opacity: 1;
      }
    }

    .arrows {
      display: flex;
      flex-direction: column;
      justify-content: center;
      opacity: 0;
      cursor: pointer;
      transition: visibility 0s, opacity 0.5s linear;
      padding: 0px 15px;
  
      .arrow {
        top: 50%;
        width: 2rem;
        height: 2rem;
        background: transparent;
        border-top: .4rem solid white;
        border-right: .4rem solid white;
        box-shadow: 0 0 0 lightgray;

        &.left {
          transform: translate3d(0,-50%,0) rotate(-135deg);
        }

        &.right {
          transform: translate3d(0,-50%,0) rotate(45deg);
        }

        &:hover {
          border-top: .4rem solid white;
          border-right: .4rem solid white;
          box-shadow: .2rem -.2rem 0 black;

          &.left {
            left: .8rem;
          }

          &.right {
            right: .8rem;
          }
        }

      }
      @media screen and (max-width: $break-medium) {
        opacity: 1;
      }
    }

    .bullets {
      display: flex;
      opacity: 0;
      flex-direction: row;
      justify-content: space-between;
      width: 90px;
      margin-left: auto;
      align-items: flex-end;
      padding: 0px 20px;
      transition: visibility 0s, opacity 0.5s linear;

      .bullet {
        border:1px solid $white;
        border-radius: 50%;
        width: 10px;
        height: 10px;
        background-color: $white;
        cursor: pointer;

        &.active {
          background-color: $klm-blue;
        }

        &:hover {
          background-color: $klm-blue;
        }

        @media screen and (max-width: $break-small) {
          cursor: default;
          pointer-events: none;

          &.active {
            background-color: $klm-blue;
          }
          &:hover {
            background-color: $white;
          }
        }
      }

      @media screen and (max-width: $break-medium) {
        opacity: 1;
      }
      @media screen and (max-width: $break-small) {
        margin-right: auto;
      }
    }

    .reservation {
      display: flex;
      flex-direction: column;
      flex: 0 0 auto;
      background-color: $white;
      width: 300px;
      height: 300px;
      top: 40px;
      left: 15vw;
      padding: 15px;
      box-shadow: 0 0 10px rgba(0,0,0,0.3);
      @media screen and (max-width: $break-small) {
        display: none;
      }
      @media screen and (max-width: $break-medium) {
        left: 80px;
      }

      .reservation__title {
        font-size: 22px;
        color: #005b82;
        font-weight: 700;
        flex: 2;
      }

      .reservation__form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 8;
        .form__row {
          display: flex;
          justify-content: space-between;
          .text__input {
            border: 1px solid #a6d1e1;
            border-radius: 3px;
            font-size: 13px;
            margin: 0;
            outline: none;

            .arrival {
              transform: rotate(75deg);
            }
            
            input{
              border: none;
            }
          }
        }

        .search__button {
          display: flex;
          justify-content: flex-end;
          button {
            font-size: 13px;
            font-weight: bold;
            line-height: 1;
            text-align: center;
            text-decoration: none;
            margin: 0 2px 0 0;
            border: 0;
            padding: 8px 17px;
            background-color: #e77b2f;
            border-radius: 2px;
            color: $white;
            cursor: pointer;
            outline: none;
          }
        }
      }
    }
  }

  .space__between {
    flex:1 1 auto;

    @media screen and (max-width: $break-medium) {
      display: none;
    }
  }

  .additional__content {
    display: flex;
    flex-direction: column;
    flex:0 0 auto;
    background-color: $white;
    color: $black;
    width: 200px;
    max-height: 200px;
    transition: visibility 0s, opacity 0.5s linear;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    padding: 15px;
    font-size: 16px;

    .additional__content__title {
      font-size: 26px;
      font-weight: bold;
      color: $klm-blue;
      padding: 5px 0px 0px 0px;
    }

    .additional__content__price {
      font-size: 20px;
      font-weight: bold;
      color: $klm-blue;
      padding: 19px 0px 0px 0px;
    }

    @media screen and (max-width: $break-medium) {
      display: none;
    }
  }

  .mobile__menu {
    display: none;
    flex-direction: column;

    @media screen and (max-width: $break-small) {
      display: flex;
    }

    .menu__row {
      background-color: #0da6e0;
      font-size: 18px;
      font-weight: 700;
      color: $white;
      padding: 10px;
      border-bottom: 1px solid $white;

      &:hover {
        background-color: #00c5f3;
        cursor: pointer;
      }
    }
  }
}