.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 87px;
  width: 100%;
  background-color: #FFFFFF;
    
  .header__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 980px;
    width: 96vw;
    border-bottom: 1px solid #ccecf8;

    .branding__items {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      min-width: 242px;

      .logo {
        pointer-events: none;  
        display: flex;
        align-items: center;

        .logo__img {
          height: 49px;
          width: 72px;
        }
      }

      .rda {
        .rda__img {
          height: 15px;
          width: 121px;
          @media screen and (max-width: $break-small) {
            display: none;
          }
        }
      }

      .sky__team {
        .sky__team__img {
          height: 31px;
          width: 31px;
          @media screen and (max-width: $break-small) {
            display: none;
          }
        }
      }
    }

    .account__items{
      a {
        color: #00a1de;
        text-decoration: none;
      }
    }
  }
}
