$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";
@import "./settings";

html, body {
    height: 100vh;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

  #container {
    display: flex;
    flex-direction: column;
    height: 100vh;

    .app {
    	display: flex;
      flex-direction: column;
		  @import "./header";
		  @import "./content";
    }
  }
